@using Hexalith.WebApp.Authorizations
@using Microsoft.AspNetCore.Components.Authorization

@inject AuthenticationStateProvider AuthenticationStateProvider

<button @onclick="Logout">Log out</button>

@code
{
    public Task Logout()
    {
        ((ExternalAuthStateProvider)AuthenticationStateProvider)
            .Logout();
        return Task.CompletedTask;
    }
}